/* MainWindow */
QMainWindow
{
    background: #eee;
}

/* Button */
QPushButton
{
    border: 1px solid #aaa;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
}
QPushButton:hover
{
    background: #ccc;
}
QPushButton:pressed
{
    background: #aaa;
}

/* Line edit */
QLineEdit
{
    border: 1px solid #ccc;
    height: 32px;
    font-size: 20px;
}
QLineEdit:hover
{
    border: 1px solid #aaa;
}
QLineEdit:focus
{
    border: 1px solid #000;
    background: #fff;
}

/* Combo box */
QComboBox
{
    height: 32px;
    border: 1px solid #aaa;
    background: #eee;
}
QComboBox::drop-down
{
    border: none;
    background: url(:/style/down.png) no-repeat center center;
    width: 24px;
    height: 32px;
}
QComboBox:hover
{
    background: #ccc;
}
QComboBox:on
{
    background: #aaa;
}

/* The items of the combo box*/
QComboBox QAbstractItemView
{
    background: #aaa;
    show-decoration-selected: 0;
    border: 2px solid #aaa;
}
QComboBox QAbstractItemView::item
{
    border: none;
    outline: none;
    color: #000;
}
QComboBox QAbstractItemView::item:hover, QComboBox QAbstractItemView::item:on
{
    border: none;
    color: #f00;
    background: #fff;
}

/* Text browser */
QTextBrowser
{
    background: #eee;
}